<% layout("/layouts/boilerplate.ejs") %>
<body>
    <!-- <form action="/listings/new">
        <button type = "submit">Create new Listing</button>
    </form> -->
    <div class="container"></div>
    <h3>All Listings</h3>
    <div class="row row-cols-lg-4 row-cols-md-3 row-cols-sm-2">
        <% for (listing of allListings) { %>
            <div class="card" >
                <img src="<%=listing.image%>" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title"><%=listing.title%></h5>
                    <p class="card-text"><%=listing.price.toLocaleString("en-IN")%>/night</p>
                </div>
            </div>
        <% } %>
    </div>
</body>
